*{
    scroll-behavior: auto;
}
body{
    margin:0;
    padding:0;
    
}
.header{
    background-color: black;
    color:whitesmoke;
}
.header a{
    text-decoration: none;
    color:rgb(51, 0, 255);
    
}
.heading{
    display: block;
    font-size: 35px;
    padding:10px 30px;
}
.searchBar{
    margin: 10px auto;
    text-align: center;
    
}
.searchBar input{
    height:28px;
    width:25%;
    border-radius: 20px;
    font-size: 16px;
    font-weight: 400;
    padding-left: 20px;
    border:1px solid black;
    
}
.searchBar button{
    background-color: rgb(134, 130, 130);
    color:white;
    height:30px;
    border: none;
    width:80px;
    border-radius: 30px;
    font-size: 16px;
    cursor: pointer;


}
.sortBtn{
    display: flex;
    justify-content: center;
    gap:10px;
}
.sortBtn button{
    height:30px;
    padding:5px 15px;
    background-color: rgb(150, 146, 146);
    color: rgb(235, 229, 229);
    border: none;
    border-radius: 30px;
    font-size: 14px;
    cursor: pointer;

}
.tabBtn{
    width:80%;
    margin:10px auto;
    display: flex;
    justify-content: flex-start;
    gap:10px;

}
.tabBtn button{
    
    border:none;
    font-size: 15px;
    cursor: pointer;
    height:30px;
    padding:5px 15px;
    border-radius: 10px;
    width:100px;
}
.active-tab{
    background-color: black;
    color: rgb(219, 212, 212);
}
.movieSection{
    width:80%;
    margin: auto;
    display: flex;
    gap:14px;
    flex-wrap: wrap;
   
    justify-content: center;
}
.line{
    border: 1px solid black;
     width: 80%; 
     margin: 5px auto ;
}
.movieCard{
    margin-top: 10px;
    
    width:200px;
   
    border:2px solid grey;
    border-radius: 10px;
    margin-bottom: 10px;
    height: auto;
    
}
.movieCard:hover{
  transform: scale(1.03);
  box-shadow: 6px 7px rgb(179, 177, 177);
  transition: 0.7s;
}
.movieImage{
    height:200px;
    width:100%;
    
}
.movieImage img{
    height:100%;
    width:100%;
    border-radius: 10px;
}

.movieName{
    text-align: center;
    font-size: 19px;
    font-weight: 900;
    margin-top: 6px;
    width: 100%;
    overflow-wrap: break-word;
   
    
}
.rating{
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    margin-bottom: 10px;
}
.vote{
    font-size: 18px;
    font-weight: 540;
}
.heart{
    font-size: 35px;
     color: red;
    margin-top: 4px;
    cursor: pointer;
}
.footer{
    margin-top: 10px;
    text-align: center;
    background-color: black;
    color: white;
    height:35px;
    padding-top: 20px;
}
.paginationBtn{
    margin-top: 10px;
    display: flex;
    justify-content: center;

}
.paginationBtn button{
    border:none;
    font-size: 15px;
    cursor: pointer;
    height:30px;
    padding:5px 10px;
    border-radius: 20px;
    width:100px;
    background-color: black;
    color: white;

}
.buttonMidText{
    margin:5px 10px;
}
@media screen and (max-width: 600px) {
    .heading{
        display: block;
        font-size: 25px;
        padding:10px 20px;
    }
    .header a{
        text-decoration: none;
        color:yellow;
        text-shadow: 1px 1px red;
    }
    .searchBar input{
        height:25px;
        width:50%;
        border-radius: 20px;
        font-size: 15px;
        font-weight: 400;
        padding-left: 10px;
        border:1px solid black;
        
    }
    .searchBar button{
        background-color: black;
        color:white;
        height:25px;
        border: none;
        width:60px;
        border-radius: 30px;
        font-size: 14px;
        cursor: pointer;
    
    
    }
    .sortBtn{
        display: flex;
        justify-content: center;
        gap:5px;
        flex-direction: column;
        width: 220px;
        align-items: center;
        margin: auto;
    }
    .sortBtn button{
        height:25px;
        padding:5px 10px;
        background-color: black;
        color: rgb(235, 229, 229);
        border: none;
        border-radius: 30px;
        font-size: 12px;
        cursor: pointer;
    
    }
   
    .tabBtn{
        width:90%;
        margin:10px auto;
        display: flex;
        justify-content: flex-start;
        gap:10px;
    
    }
    .tabBtn button{
    
        border:none;
        font-size: 12px;
        cursor: pointer;
        height:25px;
        padding:5px 10px;
        border-radius: 10px;
        width:70px;
    }
    .movieSection{
        width:90%;
        margin: auto;
       
        display: flex;
        justify-content: center;
    }
    .line{
        border: 1px solid black;
         width: 90%; 
         margin: auto;
    }
    
}   
